*{
    padding: 0;
    margin: 0;
}
.container{
    width: 100%;
    height: 100%;
}
.item{
    position: relative;
    width: 100vw;
    height: 100vh;
}
#item1{
    background: url("../images/item1_bg.jpg") fixed no-repeat 50% 0;
}
#item2{
    background: url("../images/item2_bg.jpg") fixed no-repeat 50% 0;
}
#item3{
    background: url("../images/item3_bg.jpg") fixed no-repeat 50% 0;
}
#item4{
    background: url("../images/item4_bg.jpg") fixed no-repeat 50% 0;
}
#item5{
    background: url("../images/item5_bg.jpg") fixed no-repeat 50% 0;
}
#item6{
    background: url("../images/item6_bg.jpg") fixed no-repeat 50% 0;
}
#item7{
    background: url("../images/item7_bg.jpg") fixed no-repeat 50% 0;
}